
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toolbar {
  display: flex;
}

.toolbar_items {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  color: #6070ff;
}

.logo_placeholder {
  flex-grow: 15;
  justify-content: left;
  padding-left: 5vw;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.menu_icons div {
  height: 4px;
  display: block;
  margin: 3px;
  background-color: #6070ff;
  border-radius: 25px;
}

.menu_icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-grow: 6;
  padding: 3%;
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.Iam {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  flex: none;
  order: 0;
  margin: 12px 0;
}

.InfoAbout {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

.letsConnect {
  color: #7f8cff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;

  text-decoration: none;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}

.social_media {
  display: flex;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 12px 0;
}

.fa {
  font-size: 30px;
  height: 40px;
  width: 40px;
  margin: 5px;
  color: #505f79;
}
